body {
    color: #333;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
}
.pad {
    padding: 2em 1.5em;
}
.row {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    color: #333;
}
.row:nth-child(odd) {
    background-color: #fafafa;
}
.left {
    width: 100%;
    padding: 2.5em 1em;
    text-decoration: none;
    color: #333;
}
.right {
    width: 15em;
    text-align: center;
}
.delete {
    padding: 1em;
    cursor: pointer;
}
form {
    padding: 1em 0;
    display: flex;
}
input {
    padding: 1.15em;
    font-size: 1em;
    flex-grow: 1;
}
input[type="file"] {
    width: 100%;
    flex-grow: 2;
    border: 1px solid #dadada;
}